<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success">
                Client List
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Client Name</th>
                            <th>Employee Name</th>
                            <th>Expected Date</th>
                            <th>Project Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (item of projectList(); track $index) {
                            <tr>
                                <td>{{item.clientName}}</td>
                                <td>{{item.empName}}</td>
                                <td>{{item.expectedEndDate | date}}</td>
                                <td>{{item.projectName}}</td>
                                <td>
                                    <button class="btn btn-primary" >Edit</button>
                                    <button class="btn btn-danger">Delete</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-success">
                New Client
            </div>
            <div class="card-body">
                <form [formGroup]="projectForm">
                    <div class="row">
                        <div class="col-6">
                            <label for="">Project Name</label>
                            <input type="text" formControlName="projectName" class="form-control">

                            @if (projectForm.controls['projectName'].touched) {
                                @if (projectForm.controls['projectName'].errors?.['required']) {
                                    <div class="text-danger">
                                        <span> This is Required. </span>
                                    </div>
                                }
                            }
                           
                        </div>
                        <div class="col-6">
                            <label for="">Start Date</label>
                            <input type="date" formControlName="startDate" class="form-control">
    
                        </div>
                        <div class="col-6">
                            <label for="">Expected Date</label>
                            <input type="date" formControlName="expectedEndDate" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Contact Name</label>
                            <input type="text" formControlName="contactPerson" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Contact Mobile</label>
                            <input type="text" formControlName="contactPersonContactNo" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Contact Email</label>
                            <input type="text" formControlName="contactPersonEmailId" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Total Employee</label>
                            <input type="text" formControlName="totalEmpWorking" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="">Project Costing</label>
                            <input type="text" formControlName="projectCost" class="form-control">
                        </div>
                        <div class="col-8">
                            <label for="">Project Description</label>
                            <textarea rows="4" cols="50" formControlName="projectDetails"></textarea>
                        </div>
                        <div class="col-6">
                            Project Costing
                            <select class="form-select" formControlName="clientId">
                                <option value="">Select Client</option>
                                @for (item of clientObj; track $index) {
                                    <option [value]="item.clientId">{{item.companyName}}</option>
                                }
                            </select>
                        </div>
                        <div class="col-6">
                            Lead By
                            <select class="form-select" formControlName="leadByEmpId" >
                                <option value="">Select Employee</option>
                                @for (item of employeeObj; track $index) {
                                    <option [value]="item.empId">{{item.empName}} - {{item.empCode}}</option>
                                }
                            </select>
                        </div>


                        <div class="row pt-2">
                            <div class="col-6 text-center">
                                <button class="btn btn-secondary">Reset</button>
                            </div>
                            <div class="col-6 text-center">
                                <button class="btn btn-success" [disabled]="projectForm.invalid" (click)="onSaveProject()">Save Client</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>