<div class="row">
    <div class="col-12 text-center">
      <button type="button" class="btn" [ngClass]="currentState === 'Roles' ? 'btn-success' : 'btn-primary' " (click)="onChange('Roles')"> Roles</button>
      <button type="button" class="btn" [ngClass]="currentState === 'Desitination' ? 'btn-success' : 'btn-primary' " (click)="onChange('Designation')"> Desitination</button>
    </div>
  </div>
  <div class="row pt-2">
    <div class="col-12" *ngIf="currentState === 'Roles'">
      <app-roles></app-roles>
    </div>
    <div class="col-12" *ngIf="currentState === 'Designation'">
      <app-designation></app-designation>
    </div>
  </div>
  